{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "/styles/auth.css" %}" type="text/css">
    <title>MemoryProject</title>
</head>
    <body>
    <main>
        <div class="blocks">
            <div class="auth-block">
                <h2>Войти в аккаунт</h2>
                <form method="post" name="auth_form">
                    {% csrf_token %}
                    <label for="email">E-mail <strong>*</strong></label>
                    <input required id="email" name="email" type="email" placeholder="example@mail.ru"/>
                    <label for="password">Пароль <strong>*</strong></label>
                    <input required id="password" type="password" name="password" placeholder="Введите пароль"/>
                    <div class="check-container">
                        <input type="checkbox" id="save" name="save" class="checkbox"/>
                        <label for="save" class="check-label">Запомнить вход</label>
                    </div>
                    <button type="submit" value="auth" name="button">Войти</button>
                </form>
            </div>
            <div class="reg-block">
                <h2>Создать аккаунт</h2>
                <form method="post">
                    {% csrf_token %}
                    <label for="first-name">Имя <strong>*</strong></label>
                    <input required id="first-name" name="first-name" placeholder="Введите имя"/>
                    <label for="last-name">Фамилия <strong>*</strong></label>
                    <input required id="last-name" name="last-name" placeholder="Введите фамилию"/>
                    <label for="id_email">E-mail <strong>*</strong></label>
                    <input class="is-valid" required name="email" type="email" placeholder="example@mail.ru" id="id_email"/>
                    <label class="error" id="email-error" style="display: none">Этот почтовый адрес недоступен!</label>
                    <label for="password">Придумайте пароль <strong>*</strong></label>
                    <input required id="password" type="password" name="password" placeholder="Введите пароль"/>
                    <button type="submit" value="register" name="button">Создать аккаунт</button>
                    <p class="note">Нажимая кнопку «Создать аккаунт», я соглашаюсь с <a href="#">политикой<br>
                        конфиденциальности</a> сервиса и даю согласие на обработку персональных данных</p>
                </form>
            </div>
        </div>
    </main>
    {% block javascript %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
    $('#id_email').keyup(function () {
    // создаем AJAX-вызов
    $.ajax({
        data: $(this).serialize(), // получаяем данные формы
        url: "{% url 'validate_email' %}",
        // если успешно, то
        success: function (response) {
            let errorblock = document.getElementById("email-error");
            if (response.is_taken == true) {

                $('#id_email').removeClass('is-valid').addClass('error');
                errorblock.style.display = 'block';
            }
            else {
                $('#id_email').removeClass('error').addClass('is-valid');
                errorblock.style.display = 'none';
            }
        },
        // если ошибка, то
        error: function (response) {
            // предупредим об ошибке
            console.log(response.responseJSON.errors)
        }
    });
    return false;
});
    </script>
    {% endblock %}
    </body>
</html>