{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "/styles/auth.css" %}" type="text/css">
    <title>MemoryProject</title>
</head>
    <body>
    <main>
        <div class="blocks">
            <div class="auth-block">
                <h2>Войти в аккаунт</h2>
                <form method="post" name="auth_form">
                    {% csrf_token %}
                    <label for="email">E-mail <strong>*</strong></label>
                    <input required id="email" name="email" type="email" placeholder="example@mail.ru"/>
                    <label for="password">Пароль <strong>*</strong></label>
                    <input required id="password" type="password" name="password" placeholder="Введите пароль"/>
                    <div class="check-container">
                        <input type="checkbox" id="save" name="save" class="checkbox"/>
                        <label for="save" class="check-label">Запомнить вход</label>
                    </div>
                    <button type="submit" value="auth" name="button">Войти</button>
                </form>
            </div>
            <div class="reg-block">
                <h2>Создать аккаунт</h2>
                <form method="post">
                    {% csrf_token %}
                    <label for="first-name">Имя <strong>*</strong></label>
                    <input required id="first-name" name="first-name" placeholder="Введите имя"/>
                    <label for="last-name">Фамилия <strong>*</strong></label>
                    <input required id="last-name" name="last-name" placeholder="Введите фамилию"/>
                    <label for="email">E-mail <strong>*</strong></label>
                    <input required id="email" name="email" type="email" placeholder="example@mail.ru"/>
                    <label for="password">Придумайте пароль <strong>*</strong></label>
                    <input required id="password" type="password" name="password" placeholder="Введите пароль"/>

                    <button type="submit" value="register" name="button">Создать аккаунт</button>
                    <p class="note">Нажимая кнопку «Создать аккаунт», я соглашаюсь с <a href="#">политикой<br>
                        конфиденциальности</a> сервиса и даю согласие на обработку персональных данных</p>
                </form>
            </div>
        </div>
    </main>
    </body>
</html>