{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "/styles/auth.css" %}" type="text/css">
    <title>MemoryProject</title>
</head>
    <body>
    <main>
        <div class="blocks">
            <div class="auth-block">
                <h2>Войти в аккаунт</h2>
                <form>
                    {% csrf_token %}
                    <label for="login-auth">E-mail <strong>*</strong></label>
                    <input required id="login-auth" name="login-auth" type="email" placeholder="example@mail.ru"/>
                    <label for="pass-auth">Пароль <strong>*</strong></label>
                    <input required id="pass-auth" type="password" name="pass-auth" placeholder="Введите пароль"/>
                    <div class="check-container">
                        <input type="checkbox" id="save" name="save" class="checkbox"/>
                        <label for="save" class="check-label">Запомнить вход</label>
                    </div>
                    <button>Войти</button>
                </form>
            </div>
            <div class="reg-block">
                <h2>Создать аккаунт</h2>
                <form>
                    {% csrf_token %}
                    <label for="name-reg">Имя <strong>*</strong></label>
                    <input required id="name-reg" name="name-reg" placeholder="Введите имя"/>
                    <label for="surname-reg">Фамилия <strong>*</strong></label>
                    <input required id="surname-reg" name="surname-reg" placeholder="Введите фамилию"/>
                    <label for="login-reg">E-mail <strong>*</strong></label>
                    <input required id="login-reg" name="login-reg" type="email" placeholder="example@mail.ru"/>
                    <label for="pass-reg">Придумайте пароль <strong>*</strong></label>
                    <input required id="pass-reg" type="password" name="pass-reg" placeholder="Введите пароль"/>

                    <button>Создать аккаунт</button>
                    <p class="note">Нажимая кнопку «Создать аккаунт», я соглашаюсь с <a href="#">политикой<br>
                        конфиденциальности</a> сервиса и даю согласие на обработку персональных данных</p>
                </form>
            </div>
        </div>
    </main>
    </body>
</html>