{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "/styles/base.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "/styles/end.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "/styles/nav.css" %}" type="text/css">
    <title>MemoryProject</title>
</head>
    <body>
    <main>
        <div class="hero">
            {% include 'nav.html' %}
                <h1>Поздравляем, <br>
                Вы завершили тренировку</h1>
        </div>
        <div class="blocks">
            <div class="result-block">
                <h3>Результат прохождения:</h3>
                <div class="progress-bar">
                    <progress id="completion" max="100" value="5">5%</progress>
                </div>
                <p>В пределах нормы</p>
            </div>

            <div class="stats-block">
                <h3>Статистика</h3>
                <div>
                    <strong>{{ stats.streak }}</strong>
                    <h4>Дней без перерыва<br>
                    Рекорд — {{ stats.best_streak }}</h4>
                </div>
            </div>
            <div class="rec-block">
                <div class="rec-container">
                    <h3>Наши рекомендации</h3>
                    <h3>Как концентрироваться?</h3>
                    <p>Мы собираем статистику, чтобы вы отслеживали<br>
                        результат</p>
                </div>
                <button>Читать подробнее</button>
            </div>
        </div>
    </main>
    </body>
</html>