{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "/styles/base.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "/styles/end.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "/styles/nav.css" %}" type="text/css">
    <title>MemoryProject</title>
    <style>
        .progress-bar{
            background:
                radial-gradient(closest-side, var(--nav-color) 79%, transparent 80% 100%),
                conic-gradient(var(--font-color-secondary) {{ proportion }}%, rgba(0, 125, 153, 15%) 0);
        }
        .progress-bar::before{
            content: '{{ correct }} из 20';
            font-size: 32px;
        }
    </style>
</head>
    <body>
    <main>
        <div class="hero">
            {% include 'nav.html' %}
                <h1>Поздравляем, <br>
                Вы завершили тренировку</h1>
        </div>
        <div class="blocks">
            <div class="result-block">
                <h3>Результат прохождения:</h3>
                <div class="progress-bar">
                    <progress id="completion" max="100"></progress>
                </div>
                    {% if proportion > 75 %}
                        <div class="res-note good">
                            <img alt="" src="{% static "images/tick.svg" %}">
                            <p>Выше нормы</p>
                        </div>
                    {% elif proportion > 50 %}
                        <div class="res-note neutral">
                            <img alt="" src="{% static "images/tick.svg" %}">
                            <p>В пределах нормы</p>
                        </div>
                    {% else %}
                        <div class="res-note bad">
                            <img alt="" src="{% static "images/tick.svg" %}" class="bad">
                            <p>Ниже нормы</p>
                        </div>
                    {% endif %}
            </div>

            <div class="stats-block">
                <h3>Статистика</h3>
                <h4>Верно выполненные упражнения<br>
                    в каждой из категорий:</h4>
                <div class="diagram-container">
                    <div class="diagram-back">
                        <p>100%</p>
                        <p style="height: 25%">75%</p>
                        <p style="height: 25%">50%</p>
                        <p style="height: 25%">25%</p>
                        <p style="height: 25%"></p>
                    </div>
                    <div class="diagram">
                        <div class="bar-container">
                            <div class="bar logic" style="height: {{ recognition }}%">
                                <p class="logic">{{ recognition }}%</p>
                                <p class="note logic">Логика</p>
                            </div>
                        </div>
                        <div class="bar-container">
                            <div class="bar memory" style="height: {{ memory }}%">
                                <p class="memory">{{ memory }}%</p>
                                <p class="note memory">Память</p>
                            </div>
                        </div>
                        <div class="bar-container">

                            <div class="bar mind" style="height: {{ action }}%">
                                <p class="mind">{{ action }}%</p>
                                <p class="note mind">Мышление</p>
                            </div>
                        </div>
                        <div class="bar-container">
                            <div class="bar attention" style="height: {{ attention }}%">
                                <p class="attention">{{ attention }}%</p>
                                <p class="note attention">Внимание</p>
                            </div>
                        </div>
                        <div class="bar-container">
                            <div class="bar speech" style="height: {{ speech }}%">
                                <p class="speech">{{ speech }}%</p>
                                <p class="note speech">Речь</p>
                            </div>
                        </div>
                    </div>
                </div>
                {% if action < 75 or memory < 75 or recognition < 75 or attention < 75 or speech < 75 %}
                <h4>Следует обратить внимание на
                    {% if action < 75 %}
                        <span class="logic">Логику</span>
                    {% endif %}
                    {% if memory < 75 %}
                        <span class="memory">Память</span>
                    {% endif %}
                    {% if recognition < 75 %}
                        <span class="mind">Мышление</span>
                    {% endif %}
                    {% if attention < 75 %}
                        <span class="attention">Внимание</span>
                    {% endif %}
                    {% if speech < 75 %}
                        <span class="speech">Речь</span>
                    {% endif %}

                    (категории с показателем < 75% верных ответов)</h4>
                {% endif %}
            </div>
            <div class="rec-block">
                <div class="rec-container">
                    <h3>Наши рекомендации</h3>
                    <ol>
                        <li>
                            <p>Проходите ежедневные тесты для профилактики, активность будет храниться в вашем
                                личном кабинете</p>
                        </li>
                    {% if action < 75 or memory < 75 or recognition < 75 or attention < 75 or speech < 75 %}
                        <li>
                            <p>Развивайте:
                            {% if action < 75 %}
                                <span class="logic">Логику</span>
                            {% endif %}
                            {% if memory < 75 %}
                                <span class="memory">Память</span>
                            {% endif %}
                            {% if recognition < 75 %}
                                <span class="mind">Мышление</span>
                            {% endif %}
                            {% if attention < 75 %}
                                <span class="attention">Внимание</span>
                            {% endif %}
                            {% if speech < 75 %}
                                <span class="speech">Речь</span>
                            {% endif %}
                            </p>
                        </li>
                    {% endif %}
                    </ol>
                </div>
                {% if request.user.is_authenticated %}
                    <button><a href="/">Завершить тестирование</a></button>
                {% else %}
                    <form method="post">
                    {% csrf_token %}
                        <button name="button" value="save">Сохранить результат</button>
                    </form>
                {% endif %}

            </div>
        </div>
    </main>
    </body>
</html>