{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "/styles/home.css" %}" type="text/css">
    <title>MemoryProject</title>
</head>
    <body>
    <main>
        <div class="hero">
        <nav>
            <h2>ТРЕНИРОВКИ</h2>
            <ul>
                <li><a href="#">Статистика</a></li>
                <li><a href="#">Имя</a></li>
                <li><img alt="avatar" src="{% static "/images/avatar.jpg" %}" class="avatar"></li>
            </ul>
        </nav>
            <h1>Когнитивные <br> тренировки <br>  с удовольствием</h1>
            <p>Здесь вы сможете развивать <br> 
            и поддерживать память, внимание и мышление<br> своих родителей
            с помощью интерактивных<br> упражнений</p>
            <button>Начать тренировку</button>
        </div>
        <div class="info">
            <h2>Что вас ждет</h2>
            <div class="blocks">
            <div class="huge-block">
                <p>
                    Персонализированные результаты 
                </p>
            </div>
            <div class="small-blocks">
                <div class="small-block">
                    <p>
                       Система мотивации 
                        и познавательные статьи 
                    </p>
                </div>
                <div class="small-block">
                    <p>
                        Уникальные упражнения основанные на научных практиках
                    </p>
                </div>
            </div>
            <div class="huge-block">
                <p>
                    Пройдите первую пробную тренировку 
                    и оцените свои уровень уже сейчас
                </p>
                </div>
            </div>
        </div>
        <div class="info">
            <h2>Эксперты о нас</h2>

            </div>
            
        </div>
    </main>
    </body>
</html>