{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "/styles/main.css" %}" type="text/css">
    <title>MemoryProject</title>
</head>
    <body>
    <main>
        <div class="hero">
            <nav>
                <h2><a href="../">ТРЕНИРОВКИ</a></h2>
                <ul>
                    <li><a href="#">Статистика</a></li>
                    <li><a href="#">{ИМЯ}</a></li>
                    <li><img alt="avatar" src="{% static "/images/avatar.jpg" %}" class="avatar"></li>
                </ul>
            </nav>
                <h1>С возвращением, {ИМЯ}</h1>
        </div>
        <div class="blocks">
            <div class="exercise-block">
                <h3 style="margin-bottom: 90px">Упражнение на сегодня</h3>
                <h2 style="margin-bottom: 42px">Сегодня вам предстоит<br>
                    пройти {25}</h2>
                <div class="progress-bar">
                    <progress id="completion" max="100" value="5">5%</progress>
                </div>
                <div class="progress">
                    <h4>Пройдено {0}%</h4>
                    <h4>{0/25}<br>
                        пройдено</h4>
                </div>
                <button>К прохождению</button>
            </div>
            <div class="streak-block">
                <div class="streak-container">
                    <h3>Продолжайте в<br>
                        том же духе!</h3>
                    <div>
                        <strong>{0}</strong>
                        <h4>Дней без перерыва<br>
                        Рекорд — {7}</h4>
                    </div>
                </div>
            </div>
            <div class="rec-block">
                <h3 style="margin-bottom: 125px">Наши рекомендации</h3>
                <h3 style="margin-bottom: 14px">Как концентрироваться?</h3>
                <p style="margin-bottom: 38px">Мы собираем статистику, чтобы вы отслеживали<br>
                    результат</p>
                <button>Читать подробнее</button>
            </div>
            <div class="stats-block">
                <h3>Ваша активность</h3>
                <h4>Последние 10 дней:</h4>
                <div class="days">
                    <div class="day">
                        <div class="rectangle"></div>
                        <p>{ПН}</p>
                    </div>
                    <div class="day complete">
                        <div class="rectangle"></div>
                        <p>{ВТ}</p>
                    </div>
                    <div class="day complete">
                    <div class="rectangle"></div>
                        <p>{СР}</p>
                    </div>
                    <div class="day complete">
                        <div class="rectangle"></div>
                        <p>{ЧТ}</p>
                    </div>
                    <div class="day complete">
                        <div class="rectangle"></div>
                        <p>{ПТ}</p>
                    </div>
                    <div class="day complete">
                        <div class="rectangle"></div>
                        <p>{СБ}</p>
                    </div>
                    <div class="day complete">
                        <div class="rectangle"></div>
                        <p>{ВС}</p>
                    </div>
                    <div class="day">
                        <div class="rectangle"></div>
                        <p>{ПН}</p>
                    </div>
                    <div class="day complete">
                        <div class="rectangle"></div>
                        <p>{ВТ}</p>
                    </div>
                    <div class="day complete">
                    <div class="rectangle"></div>
                        <p>{СР}</p>
                    </div>
                </div>
                <div class="stats">
                    <h4>{10 тестов} решено</h4>
                    <h4>{3 показателя} улучшились</h4>
                </div>
            </div>
        </div>
    </main>
    </body>
</html>