{% load static %}

        {% if request.user.is_authenticated %}
            <nav>
                <h2><a href="/">ТРЕНИРОВКИ</a></h2>
                <ul>
                    <li><a href="#">Статистика</a></li>
                    <li><a href="#">{{ request.user.first_name }}</a></li>
                    <li><img alt="avatar" src="{% static "/images/avatar.jpg" %}" class="avatar"></li>
                </ul>
            </nav>
        {% else %}
            <nav>
                <h2><a href="/">ТРЕНИРОВКИ</a></h2>
                <ul>
                    <li><a href="#">Статистика</a></li>
                    <li><a href="/auth">Войти</a></li>
                </ul>
            </nav>
        {% endif %}
