{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "/styles/base.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "/styles/offer.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "/styles/nav.css" %}" type="text/css">
    <title>MemoryProject</title>
</head>
    <body>
    <main>
        <div class="nav">
            {% include 'nav.html' %}
        </div>
        <div class="blocks">
            <div class="reg-block">
                <h1>Вы успешно изменили пароль <br>
                    и теперь необходимо войти снова!</h1>
                <a href="/"><button >На главную</button></a>
            </div>
        </div>
    </main>
    </body>
</html>