@font-face {
  font-family: "CoFo Sans";
  src: local("Cofo Sans"), local("CoFoSans"),
    url('../fonts/CoFoSans-Regular.ttf') format("truetype"),
    url("../fonts/CoFoSans-Regular.woff") format("woff"),
    url("../fonts/CoFoSans-Regular.woff2") format("woff2");
  font-style: normal;
}

@font-face {
  font-family: "Graphik";
  src: local("Graphik"), local("Graphik"),
    url('../fonts/Graphik-Regular.ttf') format("truetype"),
    url("../fonts/Graphik-Regular.woff") format("woff"),
    url("../fonts/Graphik-Regular.woff2") format("woff2");
  font-style: normal;
}

html{
    height: 100%;
}

body {
    --font-color: black;
    --font-color-hero: white;
    --font-color-secondary: #6EA2C6;
    --background-block: #EEF7FE;
    --background-blue: #5EB6F2;
    --red-req: #F21D2F;
    --label-black: #586166;
    --placeholder: #8D9396;
}

body{
    font-family: "CoFo Sans", "Arial", sans-serif;
    margin: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

main{
    width: 100%;
    height: 100%;
}

button:hover{
    cursor: pointer;
}

.blocks{
    display: flex;
    height: 100%;
}

.auth-block, .reg-block{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 94px 0 94px;
}

form{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 31px 31px 35px 31px;
    border-radius: 20px;
    width: 100%;
}

form strong{
    color: var(--red-req);
    margin-left: 5px;
}

form label{
    margin-bottom: 12px;
    font-size: 18px;
    color: var(--label-black);
}



form input{
    margin-bottom: 25px;
    border-radius: 10px;
    border: 1px solid var(--font-color-secondary);
    background-color: white;
    padding: 20px 15px 20px 15px;
    transition: 0.2s ease all;
    font-size: 18px;
}

form input::placeholder{
    color: var(--placeholder)
}

form input:focus{
    font-size: 23px;
}

input[type='checkbox']{
    margin: 0 10px 0 0;
}

.auth-block{
    background: linear-gradient(#6EA2C6, white);
}

.auth-block h2{
    margin: 45px 0 100px 0;
    color:white;
}

.reg-block h2{
    margin: 45px 0 20px 0;
}

h2{
    font-size: 52px;
    font-weight: normal;
    letter-spacing: -2px;
}

.note{
    font-size: 13px;
    color: rgba(0, 0, 0, 0.6);
}

.note a{
    color: inherit;
    transition: 0.2s ease all;
}

.note a:hover{
    color: black;
}

.check-container{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.checkbox {
    cursor: pointer;
    appearance: none;
    border: 2px var(--font-color-secondary) solid;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    transition: 0.2s ease-in all;
    padding: 0;
}

.checkbox:checked{
    background-image: url("../images/tick.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.checkbox:hover{
    border: 4px var(--font-color-secondary) solid;
}

label{
    transition: 0.2s ease-in all;
}

.check-label{
    margin: 0;
    color: black;
}

.error{
    margin: initial;
    color: var(--red-req);
    border-color: var(--red-req);
}

.error input{
    margin: 0;
}


label.error{
    font-size: 14px;
    margin-bottom: 15px;
}

.check-label:hover{
    cursor: pointer;
    color: var(--font-color-secondary);
    text-decoration: underline;
}

button{
    width: 100%;
    border-radius: 10px;
    background-color: var(--font-color-secondary);
    color: white;
    font-size: 25px;
    user-select: none;
    transition: 0.3s ease all;
    border: var(--font-color-secondary) 1px solid;
    padding: 20px 0 20px 0;
}


button:hover{
    box-shadow: #4b81a6 3px 3px, #45779a 6px 6px;
    font-size: 26px;
}