@font-face {
  font-family: "CoFo Sans";
  src: local("Cofo Sans"), local("CoFoSans"),
    url('../fonts/CoFoSans-Regular.ttf') format("truetype"),
    url("../fonts/CoFoSans-Regular.woff") format("woff"),
    url("../fonts/CoFoSans-Regular.woff2") format("woff2");
  font-style: normal;
}

@font-face {
  font-family: "Graphik";
  src: local("Graphik"), local("Graphik"),
    url('../fonts/Graphik-Regular.ttf') format("truetype"),
    url("../fonts/Graphik-Regular.woff") format("woff"),
    url("../fonts/Graphik-Regular.woff2") format("woff2");
  font-style: normal;
}

body {
    --font-color: black;
    --font-color-hero: white;
    --font-color-hero-secondary: #6EA2C6;
    --font-color-secondary: #6EA2C6;
    --background-block: #EEF7FE;
    --background-blue: #5EB6F2;
    --body-color: #FCFCFC;
    --nav-color: #f1f1f1;
    --red-req: #e61c2d;
    --label-black: #586166;
    --placeholder: #8D9396;
    --day-incomplete: #D9D9D9;
    --green-corect: #75DF68;
    --neutral-gray: #C1B9B9;
    --input-back: #F0F7F9;
    --stats-memory: #76C6D8;
    --stats-mind: #00d1ff;
    --stats-attention: #7795ac;
    --stats-speech: #597081;
}
