body{
    font-family: "CoFo Sans", "Arial", sans-serif;
    margin: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main{
    width: 100%;
}

button:hover{
    cursor: pointer;
}

div.hero{
    display: flex;
    flex-direction: column;
    background-size: contain;
    padding: 0 40px 0 40px;
}

div.hero p, h1{
    color: var(--font-color);
    font-weight: normal;
}

.hero h1{
    font-size: 55px;
    margin: 15px 0 25px 0;
    line-height: 90%;
    letter-spacing: -4px;
}

.hero p.description{
    padding: 20px 0 40px 0;
    font-size: 23px;
    margin: 30px 0 0 0;
    border-bottom: black solid 1px;
}

.avatar{
    width: 41px;
    height: 41px;
    border-radius: 50%;
    margin: 0;
}

.blocks{
    display: flex;
    flex-wrap: wrap;
    padding: 0 40px 0 40px;
    margin: 0 0 32px 0;
}

.blocks h3, .blocks h2, .blocks h4, .blocks p{
    margin: 0;
    padding: 0;
    font-weight: normal;
}

.blocks h3{
    font-size: 32px;
    line-height: 36px;
}

div.result-block, div.stats-block{
    margin: 0 16px 16px 0;
}

div.rec-block{
    margin-bottom: 16px;
}


div.result-block, div.stats-block, div.rec-container{
    background-color: var(--nav-color);
    border-radius: 20px;
    padding: 28px 30px 25px 30px;
}

.result-block{
    flex-basis: 10%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.result-block p, img{
    font-size: 20px;
    display: inline-block;
}

.progress-bar{
    margin: 32px 0 32px 0;
}

.progress-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

progress{
    visibility: hidden;
    height: 0;
    width: 0;
}

.res-note{
    display: flex;
}

.res-note img{
    height: 25px;
    width: 25px;
}

.res-note.neutral{
    color: var(--font-color-secondary);
}

.stats-block{
    flex-grow: 1;
    flex-basis: 40%;
}

.stats-block h3{
    margin-bottom: 50px;
}

.stats-block img{
    margin: 40px 0 50px 0;
    width: 500px;
    height: 300px;
}

.stats-block h4{
    font-size: 23px;
}

div.rec-container{
    margin-bottom: 15px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mind{
    color: var(--stats-mind);
}

.attention{
    color: var(--stats-attention);
}

.memory{
    color: var(--stats-memory);
}

.logic{
    color: var(--font-color-secondary);
}

div.rec-block{
    flex-basis: 20%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.rec-block h3{
    margin-bottom: 32px;
}

.rec-block ol{
    list-style-type: none;
    counter-reset: num;
    margin: 0;
    padding: 0;
   }

.rec-block p{
    font-size: 20px;
}

.rec-block li{
    display: flex;
    margin-bottom: 60px;
}

.rec-block li::before {
    content: '0' counter(num);
    counter-increment: num;
    font-size: 24px;
    margin-right: 20px;
}

button{
    width: 100%;
    height: 60px;
    border-radius: 13px;
    background-color: var(--font-color-secondary);
    color: white;
    font-size: 25px;
    user-select: none;
    transition: 0.3s ease all;
    border: var(--font-color-secondary) 1px solid;
}

button:hover{
    box-shadow: #4b81a6 3px 3px, #45779a 6px 6px;
    font-size: 26px;
}

