body{
    font-family: "CoFo Sans", "Arial", sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--body-color);
}

main{
    width: 100%;
}

button:hover{
    cursor: pointer;
}

div.hero{
    display: flex;
    flex-direction: column;
    padding: 0 83px 0 83px;
    background-size: contain;
    background: linear-gradient(-45deg,#5EB5F2, #91CFFB);
}

div.hero p, h1{
    color: var(--font-color-hero);
    font-weight: normal;
}

div.hero h2, button{
    color: var(--font-color-hero-secondary);
}

.hero button{
    width: 300px;
    height: 60px;
    margin: 25px 0 80px 0;
    border:0;
    border-radius: 20px;
    background: white;
    font-size:25px;
}

.hero-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-image img{
    width: 750px;
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 100px;
}

.hero h1{
    font-size: 68px;
    margin: 30px 0 0 0;
    line-height: 90%;
}

.hero p{
    font-size: 24px;
    margin: 90px 0 0 0;
}

.avatar{
    width: 41px;
    height: 41px;
    border-radius: 50%;
    margin: 0;
}

.info h2{
    font-size: 50px;
    margin: 60px 0 5px 0;
    font-weight: normal;
}

.info p{
    font-size: 26px;
    margin: 0;
    padding: 20px 0 0 20px;
}

.info {
    display: flex;
    flex-direction: column;
    user-select: none;
    padding: 0 100px 0 100px;
}

.blocks{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0 0 40px;
    flex-wrap: wrap;
}

.blocks div{
    margin-left: 2px;
    margin-right: 2px;
    padding: 0 5px 0 5px;
}

.small-block{
    background: var(--background-block);
    border-radius: 25px;
    min-height: 220px;
    margin-bottom: 10px;
}

.small-blocks{
    min-height: 442px;
    flex-basis: 25%;
    flex-grow: 1;
}

.huge-block{
    border-radius: 25px;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 442px;
    flex-basis: 30%;
    flex-grow: 1;
}

.huge-block:first-child{
    background-image: url('../images/block-svg.svg');
}

.huge-block:last-child{
    background-image: url('../images/block-2-svg.svg');
    background-size: cover;
    color: var(--font-color-hero);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.video-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.info h3{
    font-size: 24px;
    font-weight: normal;
    background: var(--background-blue);
    color: white;
    margin: 0 500px 0 0;
    padding: 10px 30px 10px 30px;
    border-radius: 15px 15px 0 0;
}


.video-block video{
    max-width: 100%;
    max-height: 100%;
    width: 1232px;
    height: 639px;
    border-radius: 25px;
}

.diseases{
    background: var(--background-blue);
    color: white;
}

.diseases h4, .diseases h2{
    font-weight: normal;
    font-size: 48px;
}

.diseases ol {
    list-style-type: none;
    counter-reset: num;
    margin-bottom: 0;
}

.diseases li::before {
    content: '0' counter(num);
    counter-increment: num;
    font-size: 33px;
}

.diseases li{
    display: flex;
    margin: 6vh 0 2vh 5vh;
}

.diseases li:last-child{
    margin-bottom: 0;
}

.diseases h4, .diseases p{
    padding: 0;
    margin: 0;
}

.diseases h2{
    font-size: 50px;
    margin: 6vh 0 12vh 10vh;
    line-height: 0.95;
}

.diseases div{
    margin: 0 0 20px 168px;
}

.diseases h4{
    line-height: 0.9;
}

.diseases p{
    font-size: 22px;
    margin-top: 20px;
}

.huge-block button{
    width: 100%;
    border: none;
    font-size: 18px;
    margin: 0 0 18px 0;
    padding: 15px 100px;
    border-radius: 15px;
}

button{
    transition: 0.3s ease all;
}

button:hover{
    box-shadow: #4b81a6 3px 3px, #45779a 6px 6px;
    font-size: 26px;
}

.huge-block button:hover{
    font-size: 19px;
}