body{
    font-family: "CoFo Sans", "Arial", sans-serif;
    margin: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main{
    width: 100%;
}

button:hover{
    cursor: pointer;
}

div.hero{
    display: flex;
    flex-direction: column;
    background-size: contain;
    padding: 0 40px 0 40px;
}

div.hero p, h1{
    color: var(--font-color);
    font-weight: normal;
}

.hero h1{
    font-size: 55px;
    margin: 85px 0 0 0;
}

.hero p.description{
    padding: 20px 0 40px 0;
    font-size: 23px;
    margin: 30px 0 0 0;
    border-bottom: black solid 1px;
}

.avatar{
    width: 41px;
    height: 41px;
    border-radius: 50%;
    margin: 0;
}

.blocks{
    display: flex;
    flex-wrap: wrap;
    padding: 0 40px 0 40px;
    margin: 48px 0 0 0;
}

.blocks h3, .blocks h2, .blocks h4, .blocks p{
    margin: 0;
    padding: 0;
    font-weight: normal;
}

.blocks h3{
    font-size: 35px;
}

.blocks h2{
    font-size: 45px;
}

.blocks h4{
    font-size: 25px;
}

.blocks p{
    font-size: 20px;
}

.blocks div{
    background-color: var(--nav-color);
    margin: 0 8px 16px 0;
    border-radius: 21px;
}

.blocks .exercise-block div, .blocks .streak-block div{
    margin: initial;
}

.exercise-block{
    padding: 30px 30px 45px 30px;
    flex-basis: 71%;
    flex-grow: 1;
}

.exercise-block progress{
    width: 100%;
    height: 5px;
    margin-bottom: 13px;
    border-radius: 5px;
}

.exercise-block progress::-webkit-progress-bar {
    background-color: var(--day-incomplete);
    border-radius: 5px;
}

.exercise-block progress::-webkit-progress-value {
    background-color: var(--font-color-secondary);
    border-radius: 5px;
}

.exercise-block div.progress{
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}

.streak-block{
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}

.streak-container{
    background-image: url("../images/mascot.svg");
    background-size: contain;
    background-position: right;
    background-position-y: -40px;
    padding: 23px;
    width: 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.streak-container div{
        background-color: transparent;
}

.streak-container strong{
    margin-bottom: 16px;
    font-size: 112px;
    color: var(--font-color-secondary);
}

.rec-block{
    flex-basis: 40%;
    padding: 25px 20px 20px 20px;
    flex-grow: 1;
}

.stats-block{
    flex-grow: 5;
    padding: 27px 30px 43px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.days{
    display: flex;
    color: var(--font-color-secondary);
    flex-wrap: wrap;
    flex-shrink: 1;
    justify-content: space-between;
}

.days div{
    border-radius: 4px;
    margin: 0 9px 0 0;
}

.day div.rectangle{
    background-color: var(--day-incomplete);
    margin: 0 0 11px 0;
}

.day div.rectangle:last-child{
    margin: 0;
}

.complete div.rectangle{
    background-color: var(--font-color-secondary);
    margin: 0 0 11px 0;

}

.rectangle{
    height: 50px;
    width: 50px;
}

.stats{
    display: flex;
    justify-content: space-between;
}

button{
    width: 300px;
    height: 60px;
    border-radius: 13px;
    background-color: var(--font-color-secondary);
    color: white;
    font-size: 25px;
    user-select: none;
    transition: 0.3s ease all;
    border: var(--font-color-secondary) 1px solid;
}

button:hover{
    box-shadow: #4b81a6 3px 3px, #45779a 6px 6px;
    font-size: 26px;
}

button#timer-button{
    background-color: var(--neutral-gray);
    border: none;
}

button#timer-button:hover{
    cursor: default;
    box-shadow: none;
    font-size: 25px;
}